<pre class="container">
  <h3>À propos</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis molestie metus, in consectetur ex.
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Nunc pharetra facilisis purus, non vulputate nunc gravida vel. Praesent a orci felis.
    Aenean pulvinar, turpis sit amet commodo vestibulum, lacus lorem interdum ipsum,
    scelerisque dictum leo orci vel purus. Sed blandit metus eu enim pharetra interdum.

    In accumsan tincidunt nulla id convallis. Aliquam fringilla nibh sit amet lacus suscipit vehicula.
    Sed odio purus, vestibulum ut massa a, cursus vulputate orci. Proin suscipit bibendum finibus.
    Vivamus eget turpis eu magna facilisis tristique. Cras sed metus nec diam consequat rhoncus sit amet ac sem.
    Phasellus vel odio ac massa viverra sollicitudin vitae vel felis. Pellentesque elementum risus quis elementum efficitur.
    Phasellus ac malesuada nisi, blandit venenatis risus.
</pre>
